.login-container{
  width: 350px;
  border:1px solid #eaeaea;
  margin:180px auto;
  padding:35px 35px 15px 35px;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 25px #cac6c6;
}

.login-container .login-title{
  text-align: center;
  margin-bottom: 40px;
  color: #505458;
  font-size: 20px;
}

.login-container .el-input{
  width: 198px;
}

.login-container .login-button{
  text-align: center;
}