.home img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 40px;
}

.home .user{
  display: flex;
  align-items: center;
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom: 1px solid #ccc;
}

.home .userinfo .name{
  font-size: 32px;
  margin-bottom: 10px;
}

.home .login-info p{
  line-height: 28px;
  font-size: 14px;
  color: #999;
}

.home .login-info p span{
  color:#666;
  margin-left: 60px; 
}

.home .num{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home .num .ant-card{
  width: 33%;
}

.home .num .ant-card-body{
  display: flex;
  padding:10px 25px;
}

.home .num .icon-box{
  width:80px;
  height:80px;
  line-height: 85px;
  color:#fff;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home .anticon{
  font-size: 30px;
}

.home .num .detail{
  margin-left:15px;
}

.home .num .detail .num{
  font-size: 30px;
  margin-bottom: 10px;
}

.home .num .detail .txt{
  font-size: 14px;
  text-align: center;
  color:#999;
}

.home .graph{
  display: flex;
  margin-top:20px;
}